__pycache__/
*.py[cod]
*.egg-info
./dist
./logdir
MUJOCO_LOG.TXT
.tools/
venv/
*.tar.gz
plots/
.vscode/
logdir/
Report/report.aux
Report/report.fdb_latexmk
Report/report.log
Report/report.out
Report/report.fls
Report/report.synctex.gz
